<a href="https://colab.research.google.com/github/MJaiman/Data-Analytics/blob/main/Basic_Ecommerce_Case_Study_Using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**dataset_link = https://www.kaggle.com/utkarsharya/ecommerce-purchases**

In [1]:
!git clone https://github.com/MJaiman/Data-Analytics.git

Cloning into 'Data-Analytics'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 14 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (14/14), done.

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('Data-Analytics/archive/Ecommerce Purchases')
data

                                                Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                      Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
...                                                 ...  ...            ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]

**1. Display Top 10 Rows of The Dataset**

In [5]:
data.head(10)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
5  7502 Powell Mission Apt. 768\nTravisland, VA 3...  ...          25.15
6     93971 Conway Causeway\nAndersonburgh, AZ 75107  ...          88.56
7  260 Rachel Plains Suite 366\nCastroberg, WV 24...  ...          44.25
8            2129 Dylan Burg\nNew Michelle, ME 28650  ...          59.54
9    3795 Dawson Extensions\nLake Tinafort, ID 88739  ...          95.63

[10 rows x 14 columns]

**2. Check Last 10 Rows of The Dataset**

In [6]:
data.tail(10)

                                                Address  ... Purchase Price
9990  75731 Molly Springs\nWest Danielle, VT 96934-5102  ...          18.35
9991              PSC 8165, Box 8498\nAPO AP 60327-0346  ...          25.93
9992  885 Allen Mountains Apt. 230\nWallhaven, LA 16995  ...          67.96
9993  7555 Larson Locks Suite 229\nEllisburgh, MA 34...  ...          65.61
9994       6276 Rojas Hollow\nLake Louis, WY 56410-7837  ...          31.85
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10 rows x 14 columns]

**3. Check Datatype of Each Column**

In [8]:
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

**4. Check null values in the dataset**

In [10]:
data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

**5. How many rows and columns are there in our Dataset?**

In [12]:
len(data.columns)

14

In [13]:
len(data)

10000

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**6. Highest and Lowest Purchase Prices.**

In [16]:
data['Purchase Price'].max()

99.99

In [17]:
data['Purchase Price'].min()

0.0

**7. Average Purchase Price**

In [19]:
data['Purchase Price'].mean()

50.34730200000025

**8. How many people have French 'fr' as their Language?**

In [22]:
len(data[data['Language']== 'fr'])

1097

In [28]:
data[data['Language']== 'fr'].count()

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

**9. Job Title Contains Engineer**

In [24]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [32]:
data[data['Job'].str.contains('engineer',case=False)].count()

Address             984
Lot                 984
AM or PM            984
Browser Info        984
Company             984
Credit Card         984
CC Exp Date         984
CC Security Code    984
CC Provider         984
Email               984
Job                 984
IP Address          984
Language            984
Purchase Price      984
dtype: int64

In [33]:
len(data[data['Job'].str.contains('engineer',case=False)])

984

**10. Find The Email of the person with the following IP Address: 132.207.160.22**

In [34]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [39]:
data[data['IP Address'] == '132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

**11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50?**

In [40]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [44]:
data[(data['CC Provider']=="Mastercard") & (data['Purchase Price']>50)].count()

Address             405
Lot                 405
AM or PM            405
Browser Info        405
Company             405
Credit Card         405
CC Exp Date         405
CC Security Code    405
CC Provider         405
Email               405
Job                 405
IP Address          405
Language            405
Purchase Price      405
dtype: int64

In [45]:
len(data[(data['CC Provider']=="Mastercard") & (data['Purchase Price']>50)])

405

**12. Find the email of the person with the following Credit Card Number: 4664825258997302**

In [49]:
data[data['Credit Card']== 4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

**13. How many people purchase during the AM and how many people purchase during PM?**

In [50]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [53]:
data['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**14. How many people have a credit card that expires in 2020?**

In [54]:
data['CC Exp Date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [60]:
def fun():
  count=0
  for date in data['CC Exp Date']:
    if date.split('/')[1] =='20':
      count+=1
  return count

In [61]:
fun()

988

In [63]:
data[data['CC Exp Date'].apply(lambda x:x[3:]== '20')].count()

Address             988
Lot                 988
AM or PM            988
Browser Info        988
Company             988
Credit Card         988
CC Exp Date         988
CC Security Code    988
CC Provider         988
Email               988
Job                 988
IP Address          988
Language            988
Purchase Price      988
dtype: int64

In [64]:
len(data[data['CC Exp Date'].apply(lambda x:x[3:]== '20')])

988

**15. What are the top 5 most popular email providers (e.g. gmail.com, yahoo.com, etc...)**

In [65]:
list1=[]
for email in data['Email']:
  list1.append(email.split('@')[1])

In [66]:
data['temp'] = list1

In [68]:
data.head(1)

                                             Address  ...       temp
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...  yahoo.com

[1 rows x 15 columns]

In [70]:
data['temp'].value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: temp, dtype: int64

In [73]:
data['Email'].apply(lambda x:x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64